<app-header showLogout="true">
    <div (click)="goToSearch()" class="pointer">
        <img src="assets/search.svg" alt="logout">
        <span class="text">search</span>
    </div>
</app-header>
<div class="main">
<ng-container *ngIf="wishlist.length > 0; else emptyList">
    <div class="card" *ngFor="let book of wishlist">
        <p>{{book.volumeInfo.title}}</p>
        <p-button (onClick)="removeFromList(book.id)" label="Remove"  styleClass="p-button-link"></p-button>
    </div>
</ng-container>
</div>

<ng-template #emptyList>
    <h1>Wish list is empty..</h1>
</ng-template>
