.pointer {
    display: flex;
  }
  .text {
    font-size: 18px;
    color: #222f50;
  }
  img {
    margin: 0 6px;
    width: 16px;
  }

  .main {
    display: flex;
    margin: 50px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    app-card {
      ::ng-deep {
        .card {
          cursor: unset;
        }
        .remove-container {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
    h1 {
      text-align: center;
    }
  }