
.main {
  padding: 0 30px;
  .search-container {
      display: flex;
      flex-direction: column;
      width: 150px;
      margin: auto;
      justify-content: center;
      margin-top: 50px;
      align-items: center;
  }
  .results {
    display: flex;
    margin: 50px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pagination {
    max-width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    direction: ltr;
    &_number {
      cursor: pointer;
      padding: 5px 10px;
      color: #777777;
    }
  
    & img {
      padding: 0 10px;
      width: 35px;
    }
  
    & img:hover {
      cursor: pointer;
    }
    .selected-page {
      color: #000000;
      background-color: #ffec54;
    }
  }
}

.pointer {
    display: flex;
  }
  .text {
    font-size: 18px;
    color: #222f50;
  }
  img {
    margin: 0 6px;
    width: 16px;
  }