
.search-container {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

.pointer {
    display: flex;
  }
  .text {
    font-size: 18px;
    color: #222f50;
  }
  img {
    margin: 0 6px;
    width: 16px;
  }