
<app-header showLogout="true">
    <div (click)="goToWishList()" class="pointer">
        <img src="assets/wishlist.svg" alt="wishlist">
        <span class="text">Wish List</span>
    </div>
</app-header>
<div class="main">
    <div class="search-container">
        <h3>Hello {{userName}}</h3>
        <span class="p-float-label">
            <input (keyup)="getBooks()" id="search" pInputText [(ngModel)]="inputText">
            <label for="search">search</label>
        </span>
    </div>
    <div class="results">
        <div class="card" *ngFor="let book of books">
            <p>{{book.volumeInfo.title}}</p>
            <p-button label="Info" (onClick)="openInfoModal(book)" class="p-button-sm"></p-button>
        </div>
    </div>
    <div class="pagination" *ngIf="books && books.length > 0">
        <img (click)="moveToPage(currentPage - 1)" src="assets/left.svg"/>
        <span [ngClass]="{'selected-page': currentPage === num}" (click)="moveToPage(num)" class="pagination_number" *ngFor="let num of numberOfPages">
          {{num}}
        </span>
        <img (click)="moveToPage(currentPage + 1)" src="assets/right.svg"/>
    </div>
</div>
